<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ICategoryInformationService" />
        <binding name="WSHttpBinding_ICategoryInformationService_TimerDemo"
          closeTimeout="00:00:05"
          openTimeout="00:00:05"
          receiveTimeout="00:00:20"
          sendTimeout="00:00:20">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:81/CategoryInformationService.svc"
                binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_ICategoryInformationService_TimerDemo"
                contract="CategoryInformationServiceReference.ICategoryInformationService"
                name="WSHttpBinding_ICategoryInformationService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:81/CategoryInformationService.svc/basic"
                binding="basicHttpBinding"
                contract="CategoryInformationServiceReference.ICategoryInformationService"
                name="BasicHttpBinding_ICategoryInformationService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>