<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ICategoryInformationService">
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_ICategoryInformationService_TimerDemo"
          closeTimeout="00:00:05" openTimeout="00:00:05" receiveTimeout="00:00:20"
          sendTimeout="00:00:20">
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_ICategoryInformationService_MessageSizeDemo"
                 maxBufferPoolSize="524288"
                 maxReceivedMessageSize="10000"
                 messageEncoding="Text"
                 textEncoding="utf-8">
          <readerQuotas maxDepth="32"
                        maxStringContentLength="10000"
                        maxArrayLength="10000"
                        maxBytesPerRead="5000"
                        maxNameTableCharCount="40000" />
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:81/CategoryInformationService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICategoryInformationService_MessageSizeDemo"
        contract="CategoryInformationServiceReference.ICategoryInformationService"
        name="WSHttpBinding_ICategoryInformationService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>